@{
    ViewData["Title"] = "Calendar";
}

<div class="container">
    <h1 class="display-4 text-center">Calendar</h1>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">This is the Calendar view where you can see all the scheduled events.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Calendar content will be added here -->
            <div id="calendar"></div>
        </div>
    </div>
</div>
